<div class="wrapper">
  <div class="container">
  <%= link_to "Ajouter un nouveau cocktail", new_cocktail_path, class: "cocktail-link" %>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4 center">
          <div class="card text-center"
            style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
                   url('<%= cocktail.photo? ? cl_image_path(cocktail.photo.path, height: 300, width: 400, crop: :fill) : 'https://static.pexels.com/photos/109275/pexels-photo-109275.jpeg' %>')">
            <div class="card-description">
              <h2><%= cocktail.name %></h2>
              <p> <%= link_to "Liste d'ingrédients", cocktail_path(cocktail), class: "link-to-ingredients" %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
